<div class="text-center">
  <h2>Change Your Password</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>

<div class="form-group">
  <%= f.label :password, "New password", 'sr-only' %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <div class="input-group mb-2">
    <div class="input-group-prepend" id="edit_password-addon">
      <span class="input-group-text"></span>
    </div>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control form-control-lg', 'aria-label': 'password', 'aria-describedby': 'edit_password-addon', placeholder: 'New password' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, "Confirm new password", class: 'sr-only' %>
  <div class="input-group mb-2">
    <div class="input-group-prepend" id="password_confirmation-addon">
      <span class="input-group-text"></span>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-lg', 'aria-label': 'password_confirmation', 'aria-decribed-by': 'password_confirmation-addon', placeholder: 'Confirm password' %>
  </div>
</div>

<div class="actions">
  <%= f.submit "Change my password" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
