  <%= form_for [@user, @tip] do |f| %>
    <% if @tip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

        <ul>
        <% @tip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>

    <div class="field">
      <%= f.label :hours %>
      <%= f.number_field :hours %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
