<div class="text-center">
  <h2>All Your Tips</h2>
  <%= link_to 'New Tip', new_user_tip_path %>
</div>
<hr>

<div class="container">
  <div class="row">
    <% @tips.each do |tip| %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">


      <div class="card mx-auto my-1">
        <h5 class="card-header">
          R<%= tip.amount.round(2) %>
        </h5>
        <div class="card-body">
          <h5 class="card-title text-muted"><%= tip.date %></h5>
          <h6 class="card-subtitle pb-2"><%= tip.hours %> Hours worked</h6>
          <h6 class="card-text">Comment?
            <% if tip.comment.length > 0 %>
              Yes
              <% else %>
              No
              <% end %>
            </h6>
          <%= link_to 'Show', user_tip_path(tip.user, tip), class: 'card-link' %>
          <%= link_to 'Edit', edit_user_tip_path(tip.user, tip), class: 'card-link' %>
          <%= link_to 'Destroy', user_tip_path(tip.user, tip), class: 'card-link', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>