<h1>Tips</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Hours</th>
      <th>Amount</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.user %></td>
        <td><%= tip.date %></td>
        <td><%= tip.hours %></td>
        <td><%= tip.amount %></td>
        <td><%= tip.comment %></td>
        <td><%= link_to 'Show', user_tip_path(tip.user, tip) %></td>
        <td><%= link_to 'Edit', edit_user_tip_path(tip.user, tip) %></td>
        <td><%= link_to 'Destroy', user_tip_path(tip.user, tip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tip', new_user_tip_path %>
