<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

  <%= render 'layouts/nav' %>

  <div class="flash-notices text-center">
    <% if notice %>
    <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
    <% end %>

    <%if alert %>
    <p id="alert" class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
  </div>

    <%= yield %>

  </div> <!-- end container-fluid -->

</body>
</html>
